* {
    box-sizing: border-box;
  }
  .gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    min-height: 300px
  }
  .bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .bg a {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -52px;
  }
  td button {
    margin: 0;
  }

  .filter-text {
    max-width: 300px;
  }

  .course-logic,
  .course-filter {
    width: 32%;
    font-size: 20px;
    display: inline-block;
  }
  .course-logic {
    width: 49%;
  }
  .course-filter input[type='checkbox'] {
    margin-left: 5px;
    margin-right: 9px;
  }
  fieldset {
    width: 49%;
    margin: 0;
    min-height: 120px;
    vertical-align: top;
    display: inline-block;
  }